.sort-options {
  margin-bottom: 20px;
}

.sort-option {
  cursor: pointer;
  text-decoration: none;
}

.sort-option.active {
  font-weight: bold;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
}
