---
layout: default
---
<style>
  .metadata-divider {
    margin-top: 2rem;
    margin-bottom: 1rem;
    border: 0;
    height: 1px;
    background-color: #ddd;
  }
  .page-metadata {
    font-size: 0.7rem;
    font-style: italic;
    color: #666;
    line-height: 1;
  }
  .date-line {
    margin: 0;
    padding: 0;
    margin-bottom: 0 !important;
    line-height: 1.2;
    display: inline-block;
  }
    
  .date-line + .date-line {
    margin-top: 0 !important;
  }
</style>


{{ content }}

<hr class="metadata-divider">

<div class="page-metadata">
  <p class="date-info">
    {% if page.date %}
      created: {{ page.date | date: "%B %d, %Y" }}
      {% if page.last_modified_at %}
        <br>updated: {{ page.last_modified_at | date: "%B %d, %Y" }}
      {% endif %}
    {% elsif page.last_modified_at %}
      updated: {{ page.last_modified_at | date: "%B %d, %Y" }}
    {% endif %}
  </p>
</div>
