---
layout: default
---
<style>
  .metadata-divider {
    margin-top: 2rem;
    margin-bottom: 1rem;
    border: 0;
    height: 1px;
    background-color: #ddd;
  }
  .page-metadata {
    font-size: 0.8rem;
    font-style: italic;
    color: #666;
    line-height: 1;
  }
  .date-line {
    margin: 0;
    padding: 0;
    margin-bottom: 0 !important;
    line-height: 1.2;
    display: inline-block;
  }
    
  .date-line + .date-line {
    margin-top: 0 !important;
  }
</style>


{{ content }}

<hr class="metadata-divider">

<div class="page-metadata"> 
	{% if page.date %}
	<p class="created-date">
		created: {{ page.date | date: "%B %d, %Y" }}
	</p> 
	{% endif %} 
	{% if page.last_modified_at %} 
	<p class="updated-date">
		updated: {{ page.last_modified_at | date: "%B %d, %Y" }}</p> 
	{% endif %}
</div>
